name: Build and Test

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    types: [ opened, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build and Test
    # if you fork this repo, you should change this to ubuntu-latest
    # you should also disable ipv6 tests, and the android tests
    # (the self-hosted tests have ipv6 on the host and a phone attached to the runner)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
      - name: set up JDK
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '17'
          distribution: 'temurin'
#          cache: gradle # https://github.com/actions/setup-java/issues/683
      - name: Display host of runner
        run: echo $HOST_NAME
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build and Publish the Common Library to the local Maven repository
        run: ./gradlew :icmp-common:publishToMavenLocal
      - name: Build and Publish the Android and Linux Libraries to the local Maven repository
        run: ./gradlew :icmp-android:publishToMavenLocal :icmp-linux:publishToMavenLocal
      - name: Build with Gradle
        run: ./gradlew assemble          # we don't use build because that will run the tests, we want that separate
      - name: JVM Unit tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: ./gradlew check
      - name: Android Instrumented tests # disable if you don't have a phone attached to the runner
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: ./gradlew connectedCheck
      - name: Upload ICMP Common Unit Tests Report to CodeCov
        # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: commonunittests
          files: ./icmp-common/build/reports/jacoco/test/jacocoTestReport.xml
      - name: Upload ICMP Linux Unit Tests Report to CodeCov
        # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: linuxunittests
          files: ./icmp-linux/build/reports/jacoco/test/jacocoTestReport.xml
      - name: Upload Instrumented Tests Report to CodeCov
        # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: instrumentedtests
          files: ./icmp-android/build/reports/coverage/androidTest/debug/connected/report.xml